@import '../../styles/variables';

.root {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, #252F39, #2F465A);
  height: 100%;
  overflow-y: auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: relative;
  & > div {
    &:before, &:after{
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      border: 10px solid transparent;
      border-top-color: $color-tretiary;
    }
    &:before{
      z-index: 100;
      animation: spin 1s infinite;
    }
    &:after{
      border: 10px solid $color-primary;
    }
  }
}