@import '../../styles/variables';

.root {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.input {
  flex: 1 1;
  width: 100%;
  background: none;
  text-align: right;
  font-size: 52px;
  line-height: 52px;
  height: 52px;
  color: $font-color-primary;
  &::-webkit-input-placeholder {
    color: $font-color-primary;
  }
  &::-moz-placeholder {
    color: $font-color-primary;
  }
  &:-moz-placeholder {
    color: $font-color-primary;
  }
  &:-ms-input-placeholder {
    color: $font-color-primary;
  }
  &:focus {
    &::-webkit-input-placeholder {
      color: $font-color-primary;
    }
    &::-moz-placeholder {
      color: $font-color-primary;
    }
    &:-moz-placeholder {
      color: $font-color-primary;
    }
    &:-ms-input-placeholder {
      color: $font-color-primary;
    }
  }
}

.button {
  background: none;
  font-size: 26px;
  line-height: 26px;
  height: 26px;
  margin-left: 10px;
}

