// Fonts 
$font-family-base: 'Roboto', sans-serif;

$font-size-base: 14px;

$font-color-base: #fff;
$font-color-dark: #161410;
$font-color-active: #882926;
$font-color-error: #882926;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-base: $font-weight-bold;

$font-line-height-base: 1;